<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/main.css" />
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
  <title>Udacity Vera G.</title>
</head>
<body>
  <header>
    {% block links %}
    <section id="login" class="container"> 
      <div class="login-area"> 
        <a class="login-link" href="blog">Blog</a>
        |
        <a class="login-link" href="login">Login</a>
        |
        <a class="login-link" href="signup">Signup</a>
      </div> 
    </section>
    {% endblock %}
  </header>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <footer id="footer" class="container-fluid">
    <div class="col-md-12 footer">
      <p> &copy; 2017 Udacity Nanoodegree. </p>
      <p> Designed by <span class="name-f"> Vera G.</span> </p>
    </div>
    <section id="social" class="row">
      <div class="col-md-12 text-center">
        <a class="btn-lg btn-group btn-social-icon btn-facebook" href="https://www.facebook.com/vera.costapereira">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn-lg btn-group btn-social-icon btn-github" href="https://github.com/veracpg">
          <span class="fa fa-github"></span>
        </a>
        <a class="btn-lg btn-group btn-social-icon btn-twitter" href="https://twitter.com/veracpg">
          <span class="fa fa-twitter"></span>
        </a>
      </div>
    </section>
  </footer>
</body>
</html>
