{% extends "base.html" %}
{% block content %}

<form method="POST" class="container">
        <label>Edit Comment</label><br>
        <textarea class="content" name="comment_text" style="width:400px;height:100px;">{{comment_text}}</textarea>
        <br>
        <div class="error">{{error}}</div>
        <input type="submit" class="btn btn-success" name="update_comment" value="Update">
        <input type="submit" class="btn btn-default" name="cancel" value="Cancel">
  </form>

{% endblock %}



