{% extends "base.html" %}
{% block links %}
 <section id="login" class="container"> 
      <div class="login-area">
        {% if user %}
        {{user.name}}
        {% endif %}
        <a class="login-link" href="blog">Blog</a>
        |
        <a class="login-link" href="logout">Logout</a>
      </div> 
    </section>

{% endblock %}
{% block content %}
<header class="row">
    <div class="col.md-12">
        <h3> Edit your Post </h3>
    </div>
</header>
<form method="POST" class="container singup">
    <input type="text" placeholder="Subject" name="subject" value="{{subject}}"/>{{subject}}<br>
    <textarea name="content" rows="20" cols="150">{{content}}</textarea><br>
    <div class="error">{{username}}</div>
    <input type="submit" class="btn btn-success" name="update" value="Update"></br>
    <input type="submit" class="btn btn-default" name="cancel" value="Cancel">
</form>
<div class="error">{{error}}</div>
{% endblock %}

