{% extends "base.html" %}

{% block content %}
    <img class="img-responsive"  src="images/header.jpeg" alt="photo">
    <h2 class="name"> Vera C P G. </h1>
    <h4 class="descrip" > <span class="back">Back End</span> Wonder Woman</h4>
    <section>
    <article>
        <p class="about"> "In this project I will be building a multi user blog where users can sign in and post 
        blog posts as well as 'Like' and 'Comment' on other posts made on the blog."</p>
    </article>
    </section>
{% endblock %}