{% extends "base.html" %}
{% block links %}
 <section id="login" class="container"> 
      <div class="login-area">
        {% if user %}
        {{user.name}}
        {% endif %}
        <a class="login-link" href="blog">Blog</a>
        |
        <a class="login-link" href="logout">Logout</a>
        |
        <a class="login-link" href="newpost">New Post</a>
      </div> 
    </section>

{% endblock %}
{% block content %}
  {{post.render() | safe}}
     <form method="POST">
        <div id="outer">
            <div class="inner"><input type="submit" class="btn btn-success" name='like' value='&#128077; {{likes}}'> </div>
            <div class="inner"><input type="submit" class="btn btn-warning" name='unlike' value='&#128078; {{unlikes}}'></div>
            <div class="inner"><input type="submit" class="btn btn-info" name='edit' value='&#9998'></div>
            <div class="inner"><input type="submit" class="btn btn-danger" name='delete' value="&#9003;"></div>
        </div>
    </form>
    <section class="container">
    {% if comments_count == 0 %}
      <label>{{comments_count}} comment</lable>
    {% else %}
      <label>{{comments_count}} comments</lable>
    {% endif %}
    {% for c in post_comments %}
    </section>
    <section class="container">
        <article class="row">
          <div class="post-date">
            <small>{{c.user.name}} on {{c.created.strftime("%b %d, %Y")}}</small>
          </div>
          <div class="comment-content">
            <strong>{{c.comment}}</strong>
          </div>
    {% endfor %}
        </article>
    </section>
 <form method="POST" class="container">
        <label>Add Comment</label><br>
        <textarea class="content" name="comment_text" style="width:400px;height:100px;">{{comment | safe}}</textarea>
        
        <br>
        <div class="error">{{error}}</div>
        <input type="submit" class="btn btn-success" name="add_comment" value="Post">
  </form>

{% endblock %}



