{% extends "base.html" %}
{% block links %}
 <section id="login" class="container"> 
      <div class="login-area"> 
        <a class="login-link" href="blog">Blog</a>
        |
        <a class="login-link" href="logout">Logout</a>
      </div> 
    </section>

{% endblock %}

{% block content %}
<header class="row">
    <div class="col.md-12">
        <h3> Spill Your Guts </h3>
    </div>
</header>
<form method="post" class="container singup">
    <input type="text" placeholder="Subject" name="subject" value="{{subject}}"/>{{subject}}<br>
    <textarea name="content" rows="20" cols="150">{{content}}</textarea><br>
    <div class="error">{{error_username}}</div>
    <input type="submit">
</form>

{% endblock %}
