{% extends "base.html" %}
{% block links %}
 <section id="login" class="container"> 
      <div class="login-area"> 
        <a class="login-link" href="blog">Blog</a>
        |
        <a class="login-link" href="logout">Logout</a>
        |
        <a class="login-link" href="newpost">New Post</a>
      </div> 
    </section>

{% endblock %}

{% block content %}
<header class="row">
    <div class="col.md-12">
        <h3> Welcome,{{name}}</h3>
    </div>
    <div class="col.md-6">
        <img class="img-responsive"  src="/images/welcome_img.jpeg" alt="photo_laptop">
    </div>
</header>

{% endblock %}